.bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4FD1C5;
    color: white;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-family: Kaushan Script;
    font-size: 1.2em;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  }

  .bottomNav a:hover {
    color: #fee6bc;;
  }
  
  .leftNavItem, .middleNavItem, .rightNavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .leftNavItem, .middleNavItem, .rightNavItem span {
    font-size: 0.8em;
    margin-top: 5px;
  }
  