#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.page-title{
  font-family: "Kaushan Script";
  font-size: 2.5rem;
  color: #4a90e2;
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(70deg, #4a90e2, #4adfe2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
  /* Additional styles for better visibility */
  margin-bottom: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 768px) {
  .page-title{
    font-size: 2rem;
  }
}